{% block footer %}
    <footer id="footer">
        <div class="footer-widgets">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="widget">
                            <figure class="footer-logo mb-15">
                                <img src="/images/logo-dark-red.png" alt="">
                            </figure>
                            <div class="textwidget">
                                <p>
                                    Украина,Чернигов
                                    {#<br>New York, NY 10118</p>#}
                                <p>info@it-hr.com.ua
                                    <br>+380730961900</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="widget">
                            <h5>Popular Tags</h5>
                            <div class="tagcloud"><a href="#">IT</a><a href="#">Developer</a><a href="#">PHP Developer</a><a href="#">Java Developer</a><a href="#">QA</a><a href="#">Frontend Developer</a><a href="#">Phyton</a><a href="#">UX/UI</a><a href="#">Back-end Developer</a><a href="#">HTML coder</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class=" col-md-3 col-lg-offset-8">
                            <div class="copy-text">
                                <p>© 2018 it-hr.Все права защищены.</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        {#<div class="footer-copy">#}
            {#<div class="container">#}
                {#<div class="row">#}
                    {#<div class="col-sm-6">#}
                        {#<ul class="social-list">#}
                            {#<li class="social-item-linkedin"><a target="_blank" href="#"><i class="hc-linkedin"></i></a>#}
                            {#</li>#}
                            {#<li class="social-item-facebook"><a target="_blank" href="#"><i class="hc-facebook"></i></a>#}
                            {#</li>#}
                            {#<li class="social-item-twitter"><a target="_blank" href="#"><i class="hc-twitter"></i></a>#}
                            {#</li>#}
                            {#<li class="social-item-pinterest"><a target="_blank" href="#"><i class="hc-pinterest"></i></a>#}
                            {#</li>#}
                            {#<li class="social-item-instagram"><a target="_blank" href="#"><i class="hc-instagram"></i></a>#}
                            {#</li>#}
                        {#</ul>#}
                    {#</div>#}
                    {#<div class="col-sm-6">#}
                        {#<div class="copy-text">#}
                            {#<p>© 2018 it-hr.Все права защищены.</p>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    </footer>
{% endblock %}